{# Plain-text body of the password change notice. Escaping is off because nothing here is markup. #}
{% autoescape off %}Hi {{ user.get_short_name }},

The password for {{ user.email }} has just been changed.
Any device still signed in with the old password has been signed out.

If you made this change, there is nothing further to do.

If you did not, set a new password immediately using the link below, because someone else knows the password to this account:

{{ protocol }}://{{ domain }}{% url 'password_reset' %}

Cargo Transportation Management System
{% endautoescape %}
