{# Password reset request: takes the email address a reset link is sent to. #}
{% extends 'accounts/auth-base.html' %}

{% block title %}Reset your password &mdash; CTMS{% endblock %}
{% block auth_visual_class %}auth-visual-password-reset{% endblock %}

{% block auth_title %}Forgot your password?{% endblock %}
{% block auth_subtitle %}Enter the email address you registered with and we will email you a link for setting a new password.{% endblock %}

{% block auth_body %}
    <form class="auth-form" method="post" novalidate>
        {% csrf_token %}
        {% include 'includes/form-fields.html' %}
        <button class="btn btn-ctms auth-submit" type="submit">Email me a link</button>
        {% include 'includes/recaptcha.html' with action='password-reset' %}
    </form>
{% endblock %}

{% block auth_links %}
    <a href="{% url 'signin' %}">Back to sign in</a>
    <a href="{% url 'signup' %}">Create an account</a>
{% endblock %}
